@media screen and (min-width: 768px){
    .liberte-title {
        font-size: 34px;
    }

    .liberte-text {
        font-size: 20px;
    }

    .features-title{
        font-size: 34px;
    }

    .col-title {
        font-size: 30px;
    }

    .feature-link {
        width: 187px;
        font-size: 18px;
    }

    .comments-title {
        font-size: 34px;
    }

    .comment {
        font-size: 24px;
    }

    .client-name {
        font-size: 16px;
    }

    .foot-text {
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) {
    .liberte-title {
        font-size: 40px;
    }

    .liberte-text {
        font-size: 23px;
    }

    .features-title {
        font-size: 40px;
    }

    .col-title {
        font-size: 35px;
    }

    .comments-title {
        font-size: 40px;
    }

    .comment {
        font-size: 27px;
    }
}